p{
	text-align: center;
}
h1{
	text-align: center;
	text-decoration: underline;
	padding-top:1em;
}
h2{
	text-align: center;
}

body{
	background-color: beige;
	font-family: monospace;
}
form{
    width:30%;
    margin: 0 auto;
}
